name: Master

on: 
   push:
     branches : 
       - master
   pull_request:
     branches : 
       - master

jobs:
  MacOS:

    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: use Setup-Scheme
      uses: guenchi/setup-scheme@master
      with:
        implementation: chez
           
    - name: install raven
      run: |
           cd /usr/local/bin
           cp chez scheme
           curl -L http://ravensc.com/install | scheme
      
    - name : test
      run: |
            git clone https://github.com/guenchi/json
            cd json
            raven install core@1.2.0
            cd lib
            mkdir json
            cd ..
            mv json.sc lib/json/
            raven run test/test.sc
            
  Ubuntu:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: use Setup-Scheme
      uses: guenchi/setup-scheme@master
      with:
        implementation: chez

    - name: install raven
      run: curl -L http://ravensc.com/install | sudo scheme
      
    - name : test
      run: |
            git clone https://github.com/guenchi/json
            cd json
            raven install core@1.2.0
            cd lib
            mkdir json
            cd ..
            mv json.sc lib/json/
            raven run test/test.sc
            
 
